<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chinese-Spelling Correction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='bootstrap-5.2.3/css/bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
    />
    <script src="{{url_for('static', filename='bootstrap/js/jquery-3.6.1.min.js')}}">
    </script>
    <script src="{{url_for('static', filename='bootstrap-5.2.3/js/bootstrap.bundle.min.js')}}">
    </script>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self' data: https:;">
  </head>
  <body>
    <div class="container d-grid gap-3">
    <nav class="navbar navbar-light bg-light border-bottom">
      <div class="container-fluid">
        <a href="{{url_for('t5_correct')}}" class="navbar-brand">
	  Chinese-Spelling Correction
      	</a>
      </div>
    </nav>

    <div class="row px-3">
    <form action="{{url_for('t5_correct')}}" method="POST">
      <div class="row d-grip gap-2">
        {% if alerts %}
        <div class="row">
	        {% for level, msg in alerts.items() %}
	        <div class="alert alert-{{ level }}" role="alert">{{ msg }}</div>
	        {% endfor %}
        </div>
        {% endif %}
        <label for="checkbox-container">Choose your base model(s) : </label>
        <div class="row-cols-lg-auto g-3 align-items-center mx-3 mt-1">
          <!--
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="GECToR-Roberta" name="models" value="GECToR-Roberta" {{'checked' if 'GECToR-Roberta' in models else ''}}>
            <label for="GECToR-Roberta" class="form-check-label">GECToR-RoBERTa</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="GECToR-XLNet" name="models" value="GECToR-XLNet" {{'checked' if 'GECToR-XLNet' in models else ''}}>
            <label for="GECToR-XLNet" class="form-check-label">GECToR-XLNet</label>
          </div>
          -->
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="Spelling-T5-Large" name="models" value="Spelling-T5-Large" >
            <label for="Spelling-T5-Large" class="form-check-label">Spelling-T5-Large</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="Spelling-T5-Base" name="models" value="Spelling-T5-Base" checked>
            <label for="Spelling-T5-Base" class="form-check-label">Spelling-T5-Base</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="Grammar-T5-Base" name="models" value="Grammar-T5-Base" >
            <label for="Grammar-T5-Base" class="form-check-label">Grammar-T5-Base</label>
          </div>
          <div class="form-check form-check-inline">
            <!--<label for="correct-type" class="form-check-label">Correction type: </label>-->
            <select name="prompt" id="prompt" class="form-select">
              <option value="糾正句子中的錯字：">錯別字校正</option>
              <option value="糾正句子中的錯誤：">文法校正</option>
              <option value="在不改動文意的情況下改寫句子：">文本重構</option>
              <option value="在不改動文意的情況下簡化句子：">文本簡化</option>
              <option value="修改句子的錯誤或使其更通順：">整體校正</option>
            </select>
          </div>          
        </div>
        
        <div class="row">
          <!--
          <div class="col-lg-6">
	          <div class="row">
              <div class="col-10">
                <label for="combination_select">Choose your combination method : </label> 
              </div>
              <div class="col-2">
                <select class="combination_select float-end" name="combination_select" id="combination_select">
                  {% for combination in combinations %}
                  <option {{'selected="selected"' if combination == selected_combination else ''}} value={{combination}}>
                  {{combination}}
                  </option>
                  {% endfor %}
                </select>
              </div>
	          </div>            
          </div>
          
          <div class="col-lg-6">
            <div class="form-check form-check-inline float-end">
              <label for="analyze" class="form-check-label">Highlight corrections</label>
              <input type="checkbox" class="form-check-input" id="analyze" name="analyze" value="analyze" {{'checked' if analyze else ''}}>
            </div>
          </div>
          -->
        </div>
      </div>
    <div class="row py-2 my-3">
	    <div class="col-lg-6">
        <label class="form-label" for="inputText">Input</label>
        <textarea id="inputText" name="input" class="form-control" placeholder="Enter text..."
              rows="10"
              cols="80">{{ inp_text }}</textarea>
        <br />
        <label for="example">Choose some example(s) : </label>
        <br/>
        <a type="button" class="btn btn-outline-success" data-value="吃了早菜以後他去上課。"
        >吃了早菜以後他去上課。</a>
        <a type="button" class="btn btn-outline-success" data-value="我去公共車從大學到圖書權。"
        >我去公共車從大學到圖書權。</a>
        <a type="button" class="btn btn-outline-success" data-value="我們覺得你們可以理由他們的錢買更多的設備。"
        >我們覺得你們可以理由他們的錢買更多的設備。</a>
        <a type="button" class="btn btn-outline-success" data-value="教室裡面不這麼對裝著相機，因為這樣老是跟學校不會說出來自己的想法跟看，老師也會不喜歡用自己的教法，而且這個貞的不是好辦法。"
        >教室裡面不這麼對裝著相機，因為這樣老是跟學校不會說出來自己的想法跟看，老師也會不喜歡用自己的教法，而且這個貞的不是好辦法。</a>
        <a type="button" class="btn btn-outline-success" data-value="這名經謙學者指出，纔計劃經濟中國有奇業最大的功旨次保證指令性計劃的完成和超額完成，保證時會支援能雯中於中楊政府，以便經由制訂指令性濟劃配置。臺計劃經津迅速退出嘯史舞台後，時會主義市煬經濟迅湮鱗展和發掌貞續況下，如佝仍翼計劃津濟中國有企頁所發揮的功能來經和要求國有企業，將回使國有企業的改革檳入歧途，造捕到正確的馥徑。"
        >這名經謙學者指出，纔計劃經濟中國有奇業最大的功旨次保證指令性計劃的完成和超額完成，保證時會支援能雯中於中楊政府，以便經由制訂指令性濟劃配置。臺計劃經津迅速退出嘯史舞台後，時會主義市煬經濟迅湮鱗展和發掌貞續況下，如佝仍翼計劃津濟中國有企頁所發揮的功能來經和要求國有企業，將回使國有企業的改革檳入歧途，造捕到正確的馥徑。</a>
        <button id="submit" type="submit" class="btn btn-primary float-end">          
          Run
        </button>
	    </div>
      <div class="col-lg-6">
	      <label class="form-label">Output</label>
        <div class="output-container border-top py-2" id="out_result">
          {%- for i in range(results|length) -%}
            {%- if i in diff_loc_list -%}
            <span class='badge bg-danger'>{{results[i]}}</span>
            {%- else -%}
            {{results[i]}}
            {%- endif -%}
          {%- endfor -%}
          <br/>
        </div>
    	  <script src="{{url_for('static', filename='js/script.js')}}">
          //span_target({{results|safe}}, {{diff_loc_list|tojson}})
        </script>
      </div>
    </form>
    </div>
    </div>
  </body>
</html>

